<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes fleurs</h2>
      <ul class="list-group">
        <!-- <app-fleur [fleurName]="fleurOne" [fleurStatus]="statusOne"></app-fleur>
        <app-fleur [fleurName]="fleurTwo" [fleurStatus]="statusOne"></app-fleur>
        <app-fleur [fleurName]="fleurThree" [fleurStatus]="statusTwo"></app-fleur> -->
        
        <app-fleur  *ngFor="let fleur of fleurs"
                       [fleurName]="fleur.name"
                       [fleurStatus]="fleur.status"></app-fleur>
      
      </ul>
      <button class="btn btn-success" 
              [disabled]="!isAuth" 
              (click)="onArroser()">Tout arroser</button>
    </div>
  </div>
</div>